 .filieres {
    padding: 80px 20px;
    background: #f5f6f7;
  }
  
  .container-filieres {
    max-width: 1200px;
    margin: 10px;
  }
  
  .section-title {
    text-align: center;
    font-size: 36px;
    color: #1f5d3a;
  }
  
  .section-subtitle {
    text-align: center;
    max-width: 750px;
    margin: 15px auto 50px;
    color: #555;
    font-size: 16px;
  }
  
  /* GRID */
  .filieres-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  /* CARD */
  .filiere-card {
    position: relative;
    height: 300px;
    border-radius: 14px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    transform: translateY(30px);
    transition: all 0.6s ease;
  }
  
  .filiere-card.show {
    transform: translateY(0);
    opacity: 1;
  }
  
  .filiere-card:hover {
    transform: translateY(-6px);
  }
  
  /* OVERLAY */
  .filiere-card .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.2)
    );
  }
  
  /* CONTENT */
  .filiere-card .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #fff;
    z-index: 2;
  }
  
  .filiere-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .filiere-card p {
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  
  /* BUTTON */
  .btn {
    display: inline-block;
    padding: 10px 18px;
    background: #02aa02;
    color: #ffffff;
    
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #fff;
    color: #1f5d3a;
  }
  
  /* BACKGROUNDS */
  .E{ background-image: url("./../assets/images/math.jpg");}
  .f1 { background-image: url("./../assets/images/f1img.jpeg"); }
  .f2 { background-image: url("./../assets/images/f2img.jpeg"); }
  .f3 { background-image: url("./../assets/images/electro.PNG"); }
  .f4 { background-image: url("./../assets/images/f3img.jpeg"); }
  .g1 { background-image: url("./../assets/images/secreta.jpeg"); }
  .g2 { background-image: url("./../assets/images/comptab.jpeg"); }
  .g3 { background-image: url("./../assets/images/administrat.jpeg"); }
  
  /* TABLETTE */
  @media (max-width: 992px) {
    .filieres-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    .filieres {
      padding: 40px 15px;
      margin: 5px 15px;
    }
  
    .section-title {
      font-size: 24px;
      text-align: left;
    }
  
    .section-subtitle {
      text-align: left;
      font-size: 15px;
      margin-bottom: 25px;
    }
  
    .filieres-grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .filiere-card {
      height: 240px;
      margin: 0 15px;
    }
  }
  
  .preinscription {
    padding: 80px 20px;
    background: #f9f9f9;
  }
  
  .preinscription h2 {
    text-align: center;
    color: #1f5d3a;
    font-size: 32px;
  }
  
  .preinscription p {
    text-align: center;
    margin-bottom: 40px;
  }